body {
  margin: 0;
  overflow: hidden;
}

canvas {
  display: block;
}

#ui-container {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  border-radius: 5px;
}